.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.Header > div {
  display: flex;
  width: 50%;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
